@page {
    size: landscape;
}

.container {
    padding: 20px 0px !important;
}

.fieldset-content {
    margin-bottom: 7px;
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 1;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    background-color: #E9E9E9;
}

.ih-col-01 {
    width: 2% !important;
}

.ih-col-02 {
    width: 3% !important;
}

.ih-col-03 {
    width: 20% !important;
}

.ih-col-04 {
    width: 5% !important;
}

.ih-col-05 {
    width: 17% !important;
}

.ih-col-06 {
    width: 8% !important;
}

.ih-col-07 {
    width: 10% !important;
}

.ih-col-08 {
    width: 10% !important;
}

.ih-col-09 {
    width: 10% !important;
}

.ih-col-10 {
    width: 10% !important;
}

.ih-col-11 {
    width: 5% !important;
}

#filter-indicator-wrapper {
    display: block;
    background-color: #1C78CC;
    padding: 10px;
}

.btn-invis {
    background-color: transparent;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-repeat: repeat-x;
    border: transparent;
    border-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    color: #fff;
    filter: none;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-invis:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
    color: #fff;
}

.btn-invis:hover #filter-indicator {
    color: rgb(145, 15, 15);
    text-decoration: line-through;
}

.student-modal {
    overflow-y: scroll;
}

.span-tag {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    border-color: rgba(255, 255, 255, 0);
    color: #2E435F;
    text-decoration: none;
    text-shadow: none;
    border-bottom: 2px solid rgba(209, 209, 209, 0.67);
    float: left !important;
    display: inline-block !important;
    width: auto !important;
}